html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--fundo); /* Replace with your desired background color */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  gap: 10px;
  flex: 1; /* Add this to fill the available space and push the footer to the bottom */
}

.titulo h2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(172, 172, 172);
  text-shadow: 1px 1px 1px rgb(97, 96, 96);
  transition: transform 0.3s ease-in;
}

.titulo h2:hover {
  color: rgb(255, 253, 253);
  text-shadow: 3px 3px 6px rgba(126, 126, 126, 0.3);
  transform: scale(1.1);
  cursor: pointer;
}


.titulo-lista {
  font-family: Arial, sans-serif;
  color: var(--font-color);
  background-color: var(--accent-color);
}

.tr{
  padding: 30px;
}

.table-header{
  padding-left: 5px;
  padding-right: 5x

}
.tabela {
  background-color: rgb(237, 230, 217);
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
}

.lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: arial, sans-serif;
  color: var(--font-color);
  flex: 1;
}

.tabela td {
  border: 1px solid black;;
  padding: 8px;
  font-family: Arial, sans-serif;
}
.topo th{

  padding:8px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.form-item {
  margin-bottom: 10px;
}

.form-item label {
  display: block;
  font-weight: bold;
}

.form-item input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
}

.editar-usuario{
  display: inline-block;
  padding: 5px 8px;
  background-color: var(--secondary-color);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.editar-usuario:hover{
  background-color: var(--darker-color);
 }

.remover-usuario {
  background-color: var(--remove-color);
  font-size: 14px;
  border: none;
}
.remover-usuario:hover {
  background-color: rgb(62, 4, 2);
 
}

.space{
  padding: 3px;
}

.vertical-space{
  padding: 180px;
}