<div class="container">
  <div class="lista">
    <h2 class="titulo-lista">Lista</h2>
    <table class="tabela">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Idade</th>
        <th></th>
      </tr>
      <tr *ngFor="let user of usuarios" class="user-row">
        <td>{{ user.id }}</td>
        <td>{{ user.nome }}</td>
        <td>{{ user.cargo }}</td>
        <td>{{ user.idade }}</td>
        <td>
          <button (click)="removerUsuario(user.id)">Remover</button>
        </td>
      </tr>
    </table>
  </div>

 