@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.home{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace; 
  justify-content: center;
  display: flex;
}

.botao{
  background-color: #4985c1;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  padding: 5px;
}.botao:hover{

  background-color: #a7d3ff;
  color: #26486a;
  border: none;
  transition: 0.3s;
}
.authStatus{
  padding-right: 12px;
  padding-top: 3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.header {
    color: white;
    padding: 30px;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    display: flex; 
    justify-content: right; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
